/* Labels de formulario */
.label-form {
    -fx-font-size: 13px;
    -fx-text-fill: #444;
}

/* Campos de texto */
.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
    -fx-padding: 6;
}

.text-field:focused {
    -fx-border-color: #007bff;
    -fx-background-color: #ffffff;
}

/* Campos de contraseña */
.password-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
    -fx-padding: 6;
}

.password-field:focused {
    -fx-border-color: #007bff;
    -fx-background-color: #ffffff;
}
